<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Toidukordade infosüsteem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
  </head>
  <body>

    <div class="container">

      <form class="form-signin" method="POST" action="">
        {{ vorm.csrf_token }}
        <h2 class="form-signin-heading">Sisselogimine</h2>
        <label for="inputEmail" class="sr-only">{{ vorm.kasutajatunnus.label }}</label>
        {{ vorm.kasutajatunnus(class="form-control", type="email", id="inputEmail", placeholder="E-mail", required="") }}
        <label for="inputPassword" class="sr-only">{{vorm.parool.label}}</label>
        {{ vorm.parool(class="form-control", type="password", id="inputPassword", placeholder="Salasõna", required="") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logi sisse</button>
      </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{ url_for('static', filename='locales/bootstrap-datepicker.et.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/style.js')}}"></script>
  </body>
</html>
