{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <h1 class="display-3">Söögikordade loetelu</h1>
    <a href="/soogikorrad/lisa" role="button" class="btn btn-success mb-3">Lisa uus söögikord</a>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-hover soogikorrad">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Kuupäev</th>
              <th scope="col">Liik</th>
              <th scope="col">Seisund</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for soogikord in soogikorrad | sort(attribute='soogikorra_id', reverse=True) %}
              <tr>
                  <td>{{ soogikord['soogikorra_id'] }}</td>
                  <td>{{ soogikord['kuupäev'] }}</td>
                  <td>{{ soogikord['liik'] }}</td>
                  <td>{{ soogikord['seisund']}}</td>
                  <td><a href="/soogikorrad/{{ soogikord['soogikorra_id'] }}/registreerimised" role="button" class="btn btn-outline-info btn-sm">Info</a></td>
                  <td>
                      <form action="{{url_for('muudaSoogikord', id=soogikord['soogikorra_id'])}}" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <input type="submit" value="Muuda" class="btn btn-outline-warning btn-sm">
                      </form>
                  </td>
                  <td>
                      <form action="{{url_for('kustutaSoogikord', id=soogikord['soogikorra_id'])}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Kustuta" class="btn btn-outline-danger btn-sm">
                      </form>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

{% endblock %}
