{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1 class="display-3">Söögikord id: {{id}}</h1>
    <p class="lead">

      <form method="POST" action="">

        {{ vorm.csrf_token }}
        <div class="form-group">
        {{ vorm.liik.label }}:
          <div class="col-md-3">{{ vorm.liik(class="form-control", value=soogikorraAndmed['liik']) }}</div>
        </div>
        <div class="form-group">
            {{  vorm.kuupaev.label }}:
          <div class="input-daterange input-group col-md-3" id="datepicker">
            {{ vorm.kuupaev(class="input-sm form-control", type="text", value=soogikorraAndmed['kuupäev']) }}
          </div>
        </div>
        <div class="form-group">
        {{  vorm.kirjeldus.label }}:
        {% set f = vorm.kirjeldus.process_data(soogikorraAndmed['kirjeldus']) %}
          <div class=col-md-6>{{ vorm.kirjeldus(class="form-control") }}</div>
        </div>
        <input type="submit" class="btn btn-success" value="Muuda">
        <a href="/" role="button" class="btn btn-warning">Tühista</a>
      </form>

    </p>
</div>
{% endblock %}
