{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <h1 class="display-3">Õpilaste registreerimised</h1>

    <form class="" method="GET" action="">
      <div class="row date-range">
        <div class="input-daterange input-group col-md-10" id="datepicker">
          {{ vorm.algusekuupaev(class="input-sm form-control", type="text", value=alguseKuupaev) }}
          <span class="input-group-text"> kuni </span>
          {{ vorm.lopukuupaev(class="input-sm form-control", type="text", value=lopuKuupaev) }}
        </div>
        <div class="col-md-2">
          <input type="submit" class="btn btn-success" value="Sisesta">
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-hover opilaste-registreerimised">
          <thead>
            <tr>
              <th scope="col">Isikukood</th>
              <th scope="col">Eesnimi</th>
              <th scope="col">Perekonnanimi</th>
              <th scope="col">Klass</th>
              {% for liik in soogikorraLiigid | sort(attribute='kood') %}
                  <th scope="col">{{ liik['nimetus'] }}</th>
              {% endfor %}
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for opilane in opilased | sort(attribute='klass')%}
              <tr>
                  <td>{{ opilane['isikukood'] }}</td>
                  <td>{{ opilane['eesnimi'] }}</td>
                  <td>{{ opilane['perekonnanimi'] }}</td>
                  <td>{{ opilane['klass']}}</td>
                  {% for liik in soogikorraLiigid | sort(attribute='kood') %}
                      <td scope="col">
                        {% for registreerimine in opilane['registreerimised'] %}
                          {% if liik['nimetus'] == registreerimine['liik'] %} {{registreerimine['registreerimisi']}} {% endif %}
                        {% endfor %}
                      </td>
                  {% endfor %}
                  <td><a href="/opilased/{{ opilane['isikukood'] }}/registreerimised?algusekuupaev={{alguseKuupaev}}&lopukuupaev{{lopuKuupaev}}"
                    role="button" class="btn btn-outline-info btn-sm">Info</a></td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

{% endblock %}
